.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

p {
  text-align: center;
}
