.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

svg {
  height:238px;
  width:238px 
}

p {
  text-align: center;
}
